@font-face {
  font-family: "Optimo-Plain";
  font-style: normal;
  font-weight: 400;
  src:
    local("Optimo Thin"),
    local("Optimo-Thin"),
    url(https://thoughtspot.github.io/latest/whats-new/font/Plain-Thin.woff) format("woff");
}

@font-face {
  font-family: "Optimo-Plain";
  font-style: normal;
  font-weight: 500;
  src:
    local("Optimo Medium"),
    local("Optimo-Medium"),
    url(https://thoughtspot.github.io/latest/whats-new/font/Plain-Medium.woff) format("woff");
}

@font-face {
  font-family: "Optimo-Plain";
  font-style: italic;
  font-weight: 500;
  src:
    local("Optimo-Medium-Italic"),
    local("Optimo-Medium-Italic"),
    url(https://thoughtspot.github.io/latest/whats-new/font/Plain-MediumIta.woff) format("woff");
}

@font-face {
  font-family: "Optimo-Plain";
  font-style: italic;
  font-weight: 400;
  src:
    local("Optimo Italic"),
    local("Optimo-Italic"),
    url(https://thoughtspot.github.io/latest/whats-new/font/Plain-RegularIta.woff) format("woff");
}

@font-face {
  font-family: "Optimo-Plain";
  font-style: normal;
  font-weight: 400;
  src:
    local("Optimo Regular"),
    local("Optimo-Regular"),
    url(https://thoughtspot.github.io/latest/whats-new/font/Plain-Regular.woff) format("woff");
}

@font-face {
  font-family: "Optimo-Plain";
  font-style: normal;
  font-weight: 600;
  src:
    local("Optimo-Bold"),
    local("Optimo-Bold"),
    url(https://thoughtspot.github.io/latest/whats-new/font/Plain-Bold.woff) format("woff");
}
